.selected {
  border-radius: 15px;
  height: 5rem;
  width: 5rem;
  background-color: #b0b3b8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.available {
  border-radius: 15px;
  height: 5rem;
  width: 5rem;
  background-color: #464e2e;
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  box-shadow: 6;
}
